.main {
  position: realtive;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  display: inline-block;
}
.Logo {
  position: relative;
  width: 70%;
  height: 6.5vh;
  padding:1vh;
  top: 1vh;
  cursor: pointer;
  background-image: url(../../Assets/Images/LOGO_1.ico);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.Links {
  position: relative;
  width: 100%;
  height: 85vh;
  top: 4.5vh;
}
.ul {
  position: relative;
  margin: 0;
  height:50vh;
  padding-inline-start: 2vh;
  list-style-type: none;
  border-bottom:1px solid #3d3c3c;
}
.iconStyle{
  position:relative;
  
}
.Footer{
  position: relative;
  top:2vh;
  margin:0;
  padding-inline-start: 2vh;
  list-style-type: none;
  width: 100%;
  height:33vh;
}

.End{
  position: relative;
  float:bottom;
  padding-left:0.5vh;
  bottom:2vh;
  font-size:2vh;
  font-weight: medium;

}