.main{
    position: relative;
    width: 100%;
    height:5vh;
    display: flex;
    justify-content: space-around;
    background: transparent;
    border-bottom: 1px solid #504E4E;
    overflow: hidden;
    margin-bottom: 2%;
    text-align:left;
}
.cover{
    position: relative;
    height: 100%;
    width:8%;
    padding:0.6vh 0;

}
.title{
    position: relative;
    height: 100%;
    width:30%;
    color: #fff;
}
.title h3{
    position: relative;
    font-size:100%;
    margin:0;
    padding:1vh 0;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,;

}
.artists{
    position: relative;
    height: 100%;
    width:23%;
    color: #fff;
}
.artists h3{
    position: relative;
    font-size:100%;
    margin:0;
    padding:1vh 0;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,;

}
.album{
    position: relative;
    height: 100%;
    width:22%;
    color: #fff;
}
.album h3{
    position: relative;
    font-size:100%;
    margin:0;
    padding:1vh 0;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,;

}
.length{
    position: relative;
    height: 100%;
    width:15%;
    color: #fff;
}
.length h3{
    position: relative;
    font-size:100%;
    margin:0;
    padding:1vh 0;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,;

}