.main {
  position: relative;
  height: 20vmax;
  width: 21%;
  margin: 2% 0 0 2%;
}

._Desktop {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
  border-radius: 3%;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
._Desktop:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.397), 0 10px 10px rgba(0, 0, 0, 0.493);
}

._Desktop > * {
  grid-row: 1;
  grid-column: 1;
}
._Desktop img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 3%;
}
.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: #00000050;
  border-radius: 3%;
}
.overlay:hover {
  background: #fdfdfd05;
}
.textContent {
  position: relative;
  width: 100%;
  top: 50%;
  height: 45%;
  justify-content: space-around;
}
.albumName {
  position: relative;
  height: 58%;
  margin:1% 5%;
  vertical-align: text-bottom;

}
.albumName h3 {
  position: relative;
  color: white;
  height: 100%;
  vertical-align: text-bottom;
  font-size: 1em;
  font-weight: bold;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-seri;
}
.artistName {
  position: relative;
  height: 38%;
  margin:1% 5%;
}
.artistName h2 {
  position: relative;
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-seri;
}

._Mobile {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
  border-radius: 2%;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
._Mobile:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.397), 0 10px 10px rgba(0, 0, 0, 0.493);
}

._Mobile > * {
  grid-row: 1;
  grid-column: 1;
}
._Mobile img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 2%;
}


@media (max-width: 700px) {
  .main {
    position: relative;
    width: 21%;
    height: 30vh;
    margin: 3% 0 0 3%;
  }
  .overlay {
    border-radius: 2%;
  }
  .artistName h2{
    font-size:0.8em;
  }
  .albumName h3{
    font-size:0.8em;
  }
}
@media (max-width: 550px) {
  .main {
    position: relative;
    width: 17%;
    height: 20vh;
    margin: 3% 0 0 3%;
  }
  .overlay {
    border-radius: 2%;
  }
  .artistName h2{
    font-size:0.7em;
  }
  .albumName h3{
    font-size:0.6em;
  }
}

@media (max-width: 460px) {
  .main {
    position: relative;
    width: 45%;
    height: 35vh;
    margin: 5% 0 0 5%;
  }
  .overlay {
    border-radius: 2%;
  }
  .artistName h2{
    font-size:1em;
  }
  .albumName h3{
    font-size:0.9em;
  }
}
