.main {
  width: 100%;
  height: 8vh;
  justify-content: right;
  display: flex;
  text-align: center;
}
.container {
  position: relative;
  align-content: end;
  width: 98%;
  left:1%;
  height: 100%;
}
.main form {
  position: relative;
  width: 100%;
  height: 55%;
  float: right;
  top: 26%;
  justify-content:space-around;
}

.searchBar {
  position: relative;
  width: 94%;
  left:3%;
  height: 100%;
  justify-content: space-evenly;
  display: flex;
  background-color: #2d3441;
  border-radius: 1.5vh;
}
.searchBar div {
  position: relative;
  box-sizing: border-box;
  padding:0 1%;
  width: 6%;
}
.searchBar svg {
  position: relative;
  top: 15%;
}
.searchBar input {
  position: relative;
  width: 84%;
  height: 100%;
  padding: 0.8vh;
  color: white;
  background-color: transparent;
  font-size: 2.2vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  border: none;
}
.Button {
  position: relative;
  background: transparent;
  border: none;
  align-items: center;
  width: 8%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  padding: 0;
}
.Button svg {
  position: relative;
  top:1px;
}
.Button svg:hover {
  fill: rgb(185, 63, 47);
}
