html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Ubuntu Bold";
  src: local("Ubutnu-B"), url("../Assets/Fonts/Ubuntu-B.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Ubuntu Light";
  src: local("Ubutnu-L"),
    url("../Assets/Fonts/Ubuntu-L.ttf")
      format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: "Ubuntu";
  src: local("Ubutnu-R"),
   url("../Assets/Fonts/Ubuntu-R.ttf") format("truetype");
  font-weight:normal;
  }


/* width */
::-webkit-scrollbar {
  width: 0.8vh;
}

/* Track */
::-webkit-scrollbar-track {
  background:rgba(255, 255, 255, 0.014);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color:rgb(185, 63, 47) ;
  border-radius:1vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:rgb(187, 56, 39);
}